<h1>Dados</h1>

<%= link_to "Importar CSV", new_dado_path, class: "btn btn-primary mb-3" %>

<%= form_tag limpar_tela_dados_path, method: :delete do %>
  <%= button_tag "Limpar Tela", type: "submit", class: "btn btn-danger mb-3", data: { confirm: "Tem certeza que deseja limpar a tela?" } %>
<% end %>

<% if @dados.any? %>
  <table class="table">
    <thead>
      <tr>
        <% @csv_headers.each do |header| %>
          <th><%= header.humanize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @dados.each do |dado| %>
        <tr>
          <% @csv_headers.each do |header| %>
            <td><%= dado[header] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhum dado encontrado.</p>
<% end %>


